doctype html
//- ASSIGN OUR ANGULAR MODULE
html(ng-app="scotchTodo")
	head
		//- META
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//- Optimize mobile viewport
		title Node/Angular Todo App
		//- SCROLLS
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		//- load bootstrap
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/style.css")
			
		//- SPELLS
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
		//- load angular
		script(src="js/controllers/main.js")
		//- load up our controller
		script(src="js/services/todos.js")
		//- load our todo service
		script(src="js/services/repos.js")
		//- load our todo services
		script(src="js/services/branches.js")
		//- load our todo service
		script(src="js/core.js")
		//- load our main application
	//- SET THE CONTROLLER
	body(ng-controller="mainController")
		div(ng-include="template1.html")
		.container-fluid

			//- TODO LIST
			#todo-list.row(ng-show="display == true")
				.col-sm-4.col-sm-offset-4
					//- LOOP OVER THE TODOS IN $scope.todos
					.checkbox(ng-repeat="todo in todos")
						label
							input(type="checkbox", ng-click="deleteTodo(todo._id)")
							| {{ todo.text }}
					p.text-center(ng-show="loading")
						span.fa.fa-spinner.fa-spin.fa-3x

					.checkbox(ng-repeat="repo in repos")
						a(ng-click="openBranches(repo.name)"){{ repo.name }}

			#branch-list.row
				.div(ng-repeat="branch in branches").col-sm-4.col-sm-offset-4
					a {{branch.name}}


		